@import url(http://fonts.googleapis.com/css?family=Wire+One);

/* GLOBAL TAG MODIFIERS */
body
{
	font:12px arial,sans-serif;
	color:#000000;
	text-align:center;
	min-width:800px;
}

hr
{
	width:100%;
	height:1px;
	background-color:#DDDDDD;
	color:#DDDDDD;
	border:none;
}

/* LINKS */
a:link, a:visited, a:active
{
	color:#8888FF;
	text-decoration:none;
}

a:hover
{
	color:#333300;
	text-decoration:underline;
}

a.class:link, a.class:visited, a.class:active
{
	font-size:16px;
	color:#AAAAAA;
	text-decoration:none;
	margin-left:32px;
	line-height:24px;
}

a.class:hover
{
	color:#000000;
}

a.banner_s:link, a.banner_s:visited, a.banner_s:active
{
	display:block;
	width:300px;
	height:100px;
	background:url('banner_s2.jpg');
	background-position:0 0;
}

a.banner_s:hover
{
	background-position:0 100px;
}

a.post:link, a.post:visited, a.post:active
{
	color:#FFFFFF;
	text-decoration:none;
}

a.post:hover
{
	color:#FFFFFF;
	text-decoration:none;
}

/* DIVS */
#bg
{
	background-color:#DDDDDD;
	position:fixed;
	top:0;
	left:0;
	z-index:-1;
	width:100%;
	height:100%;
}

#mainFrame
{
	background-color:#FFFFFF;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-400px;
	width:750px;
	padding:10px 25px;
	text-align:left;
}

#postContentWrapper
{
	width:640px;
	margin:0;
	margin-left:55px;
	padding:0;
}

#popUpBG
{
	background-color:rgb(0,0,0);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
	display:none;
}

#popUp
{
	background-color:rgb(255,255,255);
	position:fixed;
	top:20%;
	left:50%;
	width:400px;
	margin-left:-200px;
	z-index:2;
	padding:20px;
	text-align:center;
	display:none;
	
	-moz-box-shadow:5px 5px 10px #555555; /* Firefox 3.6 and earlier */
	-webkit-box-shadow:5px 5px 10px #555555; /* Safari */
	box-shadow:5px 5px 10px #555555;
}

/* HEADERS */
h1 /* Subject headers (index page) */
{
	width:100%;
	border-bottom:1px solid #AAAAAA;
	color:#AAAAAA;
	letter-spacing:2px;
	font-family:'Wire One',sans-serif;
	font-size:36px;
	margin:0;
	padding:0;
}

h1:hover
{
	border-bottom:1px solid #000000;
	color:#000000;
	cursor:pointer;
}

h2 /* topBar right class header */
{
	font-size:16px;
	font-weight:bold;
	margin:0;
}

h3 /* Topic headers */
{
	width:730px;
	color:#FFFFFF;
	text-transform:uppercase;
	font:24px Impact,sans-serif;
	letter-spacing:2px;
	margin:0;
	padding:10px;
	cursor:pointer;
}

h4 /* Post headers */
{
	width:700px;
	color:#FFFFFF;
	font:16px Verdana,sans-serif;
	padding:7px;
	margin-left:18px;
}

h5 /* generic header */
{
	font-size:16px;
	font-weight:bold;
}

/* MESSING AROUND */
video
{
	background-color:rgb(0,0,0);
}


/* MICRO ATTRIBUTES */
.left {text-align:left;}
.cen {text-align:center;}
.right {text-align:right;}
.vat {vertical-align:top;}
.vam {vertical-align:middle;}
.vab {vertical-align:bottom;}
.gray {color:#AAAAAA;}
.b {font-weight:bold;}
